.navbar {
  width: 100%;
  padding: 18px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-main);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar h1 {
  font-size: 22px;
  font-weight: 700;
  color: var(--primary);
}

.navbar ul {
  display: flex;
  gap: 28px;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--text-muted);
  font-weight: 500;
  transition: 0.3s;
}

.navbar ul li a:hover {
  color: var(--primary);
}
