.projects {
  padding: 90px 8%;
  background: var(--bg-section);
}

.projects h2 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 60px;
  color: var(--primary);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 35px;
}

.project-card {
  background: var(--bg-card);
  border-radius: 22px;
  padding: 22px;
  border: 1px solid var(--border);
  box-shadow: 0 12px 30px var(--shadow);
  transition: 0.35s;
  display: flex;
  flex-direction: column;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-image {
  height: 170px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 18px;
  border: 1px solid var(--border);
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--text-main);
}

.project-card p {
  font-size: 14px;
  color: var(--text-muted);
  line-height: 1.6;
  flex-grow: 1;
}
.project-links {
  display: flex;
  gap: 14px;
  margin-top: 22px;
}

.project-links a {
  flex: 1;
  padding: 11px 0;
  border-radius: 999px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.project-links a:first-child {
  background: var(--primary);
  color: #020617;
}

.project-links a:last-child {
  border: 2px solid var(--primary);
  color: var(--primary);
}
