.skills {
  padding: 100px 8%;
  background: var(--bg-section);
}

.skills h2 {
  text-align: center;
  font-size: 38px;
  color: var(--primary);
  margin-bottom: 50px;
}

.skills-grid {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
}

.skill-card {
  background: var(--bg-card);
  padding: 22px;
  text-align: center;
  border-radius: 16px;
  font-weight: 600;
  color: var(--text-main);
  border: 1px solid var(--border);
  transition: 0.3s;
}

.skill-card:hover {
  transform: translateY(-8px);
  color: var(--primary);
}
