/* ========================
   GLOBAL THEME VARIABLES
======================== */
:root {
  --bg-main: #020617;
  --bg-section: #020617;
  --bg-card: #020617;

  --primary: #38bdf8;
  --primary-hover: #0ea5e9;

  --text-main: #ffffff;
  --text-muted: #94a3b8;

  --border: rgba(56, 189, 248, 0.35);
  --shadow: rgba(56, 189, 248, 0.25);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  background: var(--bg-main);
  color: var(--text-main);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
